src/test/resources/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--

    Mule Development Kit
    Copyright 2010-2013 (c) MuleSoft, Inc.  All rights reserved.  http://www.mulesoft.com

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:github="http://www.mulesoft.org/schema/mule/github"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.4/mule.xsd
        http://www.mulesoft.org/schema/mule/github http://www.mulesoft.org/schema/mule/github/current/mule-github.xsd">

    <github:config connectionUser="mule-tester" connectionPassword="mule2013" scope="user,repo,public_repo,gist" />

    <flow name="getIssues">
        <github:get-issues repository="github-connector">
            <github:filter-data>
                <github:filter-datum key="#[map-payload:key]">open</github:filter-datum>
            </github:filter-data>
        </github:get-issues>
    </flow>

    <flow name="getIssuesCretedAfter">
        <github:get-issues-creted-after repository="github-connector" minutes="#[map-payload:minutes]"/>
    </flow>

    <flow name="getIssuesSinceNumber">
        <github:get-issues-since-number  connectionUser="##" connectionPassword="##" repository="github-connector" fromIssueNumber="#[map-payload:fromIssueNumber]"/>
    </flow>

    <flow name="createIssue">
        <github:create-issue repository="github-connector" title="#[map-payload:title]" body="#[map-payload:body]" assignee="#[map-payload:assignee]"/>
    </flow>

    <flow name="closeIssue">
        <github:close-issue repository="github-connector" issueId="#[map-payload:issueId]"/>
    </flow>

    <flow name="getIssue">
        <github:get-issue repository="github-connector" issueId="#[map-payload:issueId]"/>
    </flow>

    <flow name="getComments">
        <github:get-comments repository="github-connector" issueId="#[map-payload:issueId]"/>
    </flow>

    <flow name="createComment">
        <github:create-comment repository="github-connector" issueId="#[map-payload:issueId]" comment="#[map-payload:comment]"/>
    </flow>

    <flow name="editComment">
        <github:edit-comment repository="github-connector" commentId="#[map-payload:commentId]" body="#[map-payload:commentBody]"/>
    </flow>

    <flow name="deleteComment">
        <github:delete-comment repository="github-connector" commentId="#[map-payload:commentId]"/>
    </flow>

    <flow name="getIssueEvent">
        <github:get-issue-event repository="github-connector" eventId="333"/>
    </flow>

    <flow name="getWatchers">
        <github:get-watchers owner="orionixNuclear" repositoryName="github-connector"/>
    </flow>

    <flow name="getWatched">
        <github:get-watched user="##"/>
    </flow>

    <flow name="isWatching">
        <github:is-watching owner="##" repositoryName="github-connector"/>
    </flow>

    <flow name="watch">
        <github:watch owner="##" repositoryName="github-connector"/>
    </flow>

    <flow name="unwatch">
        <github:unwatch owner="##" repositoryName="github-connector"/>
    </flow>

    <flow name="getCollaborators">
        <github:get-collaborators owner="mule-tester" repositoryName="github-connector"/>
    </flow>

    <flow name="isCollaborator">
        <github:is-collaborator owner="mule-tester" repositoryName="github-connector" user="vgulyakin"/>
    </flow>

    <flow name="addCollaborator">
        <github:add-collaborator owner="mule-tester" repositoryName="github-connector" user="vgulyakin"/>
    </flow>

    <flow name="removeCollaborator">
        <github:remove-collaborator owner="mule-tester" repositoryName="github-connector" user="vgulyakin"/>
    </flow>

    <flow name="getCommits">
        <github:get-commits owner="mule-tester" repositoryName="github-connector"/>
    </flow>

    <flow name="getCommitsBySha">
        <github:get-commits-by-sha owner="mule-tester" repositoryName="github-connector" path="/README.md"/>
    </flow>

    <flow name="getCommit">
        <github:get-commit owner="mule-tester" repositoryName="github-connector" sha="#[map-payload:sha]"/>
    </flow>

    <flow name="getCommmitComments">
        <github:get-commmit-comments owner="mule-tester" repositoryName="github-connector"
                                     sha="#[map-payload:sha]"/>
    </flow>

    <flow name="getComment">
        <github:get-comment owner="mule-tester" repositoryName="github-connector" commentId="#[map-payload:commentId]"/>
    </flow>

    <flow name="addComment">
        <github:add-comment owner="mule-tester" repositoryName="github-connector" body="commit comment body" commitId="#[map-payload:sha]" line="10"
                            path="/README.md" position="1"/>
    </flow>

    <flow name="editCommitComment">
        <github:edit-commit-comment owner="mule-tester" repositoryName="github-connector" body="updated comment body" commentId="#[map-payload:commentId]"
                                    line="10" path="/README.md" position="1"/>
    </flow>

    <flow name="deleteCommitComment">
        <github:delete-commit-comment owner="mule-tester" repositoryName="github-connector" commentId="#[map-payload:commentId]"/>
    </flow>

    <flow name="getDeployKeys">
        <github:get-deploy-keys owner="mule-tester" repositoryName="github-connector"/>
    </flow>

    <flow name="getDeployKey">
        <github:get-deploy-key owner="mule-tester" repositoryName="github-connector" id="#[map-payload:id]"/>
    </flow>

    <flow name="createDeployKey">
        <github:create-deploy-key owner="mule-tester" repositoryName="github-connector" title="key title" key="ssh-rsa AAAAB3NzaC1yc2EAAAABJQAAAIBjxppb4IbD7j6yZnP/x8E5QREDIsyOHRoMmMoW+f34gExpRpYj03d4y0zshDRHcq875zfPrCswJH/ANQRatUO8nyHypjltiHKMqPGI0wwuYOmJReM1ioDzD+q27N2nrrfEcshxkCp9v7iPmw1p2PvKgvcEmHmCqKYMh299us0Hgw== rsa-key-20130923"/>
    </flow>

    <flow name="editDeployKey">
        <github:edit-deploy-key owner="mule-tester" repositoryName="github-connector" id="#[map-payload:id]" title="updated title" />
    </flow>

    <flow name="deleteDeployKey">
        <github:delete-deploy-key owner="mule-tester" repositoryName="github-connector" id="#[map-payload:id]"/>
    </flow>

	<flow name="createGist">
        <github:create-gist isPublic="true" description="description for gist">
	     	<github:files>
	     		<github:file key="file.txt" value-ref="#[payload]" />
	     	</github:files>
      	</github:create-gist>
    </flow>
	
    <flow name="getGist">
        <github:get-gist id="#[map-payload:id]"/>
    </flow>

    <flow name="getStarredGist">
        <github:get-starred-gist/>
    </flow>

    <flow name="getGists">
        <github:get-gists user="mule-tester"/>
    </flow>

    <flow name="createGistComment">
        <github:create-gist-comment gistId="#[map-payload:id]" comment="comment on gist"/>
    </flow>

    <flow name="getGistComments">
        <github:get-gist-comments gistId="#[map-payload:id]"/>
    </flow>

    <flow name="deleteGist">
        <github:delete-gist gistId="#[map-payload:id]"/>
    </flow>

    <flow name="getGistComment">
        <github:get-gist-comment commentId="4455"/>
    </flow>

    <flow name="deleteGistComment">
        <github:delete-gist-comment commentId="4455"/>
    </flow>

    <flow name="editGistComment">
        <github:edit-gist-comment commentId="4455" body="bla bla"/>
    </flow>

    <flow name="starGist">
        <github:star-gist gistId="#[map-payload:id]"/>
    </flow>

    <flow name="unstarGist">
        <github:unstar-gist gistId="#[map-payload:id]"/>
    </flow>

    <flow name="isStarred">
        <github:is-starred gistId="#[map-payload:id]"/>
    </flow>

    <flow name="forkGist">
        <github:fork-gist gistId="1430386"/>
    </flow>

    <flow name="getLabels">
        <github:get-labels user="mule-tester" repository="github-connector"/>
    </flow>

    <flow name="getLabel">
        <github:get-label user="mule-tester" repository="github-connector" label="some-label"/>
    </flow>

    <flow name="deleteLabel">
        <github:delete-label user="mule-tester" repository="github-connector" label="some-label"/>
    </flow>

    <flow name="createLabel">
        <github:create-label user="mule-tester" repository="github-connector" labelName="some-label" color="f29513"/>
    </flow>

    <flow name="getMilestones">
        <github:get-milestones repository="github-connector" state="open"/>
    </flow>

    <flow name="getMilestone">
        <github:get-milestone repository="github-connector" number="1"/>
    </flow>

    <flow name="deleteMilestone">
        <github:delete-milestone repository="github-connector" number="1"/>
    </flow>

    <flow name="createMilestone">
        <github:create-milestone repository="github-connector" title="1.0" description="Milestone 1.0 description"
                                 state="open"/>
    </flow>

    <flow name="getUserByLoginName">
        <github:get-user-by-login-name loginName="orionixNuclear"/>
    </flow>

    <flow name="getCurrentUser">
        <github:get-current-user/>
    </flow>

    <flow name="updateCurrentUser">
        <github:update-current-user company="MuleSoft" location="Buenos Aires" blog="blogs.mulesoft.org"/>
    </flow>

    <flow name="cleanupCurrentUser">
        <github:update-current-user company="-" location="-" blog="-"/>
    </flow>

    <flow name="getFollowers">
        <github:get-followers/>
    </flow>

    <flow name="getFollowing">
        <github:get-following/>
    </flow>

    <flow name="isFollowing">
        <github:is-following user="federecio"/>
    </flow>

    <flow name="follow">
        <github:follow user="federecio"/>
    </flow>

    <flow name="unfollow">
        <github:unfollow user="federecio"/>
    </flow>

    <flow name="getEmails">
        <github:get-emails/>
    </flow>

    <flow name="addEmails">
        <github:add-emails>
            <github:emails>
                <github:email>email1@mulesoft.com</github:email>
                <github:email>email2@mulesoft.com</github:email>
            </github:emails>
        </github:add-emails>
    </flow>

    <flow name="removeEmails">
        <github:remove-emails>
            <github:emails>
                <github:email>email1@mulesoft.com</github:email>
                <github:email>email2@mulesoft.com</github:email>
            </github:emails>
        </github:remove-emails>
    </flow>

    <flow name="getKeys">
        <github:get-keys/>
    </flow>

    <flow name="getKey">
        <github:get-key id="1"/>
    </flow>

    <flow name="createKey">
        <github:create-key title="title" key="ssh-rsa AAAAB3NzaC1yc2EAAAABJQAAAIBjxppb4IbD7j6yZnP/x8E5QREDIsyOHRoMmMoW+f34gExpRpYj03d4y0zshDRHcq875zfPrCswJH/ANQRatUO8nyHypjltiHKMqPGI0wwuYOmJReM1ioDzD+q27N2nrrfEcshxkCp9v7iPmw1p2PvKgvcEmHmCqKYMh299us0Hgw== rsa-key-20130923"/>
    </flow>

    <flow name="editKey">
        <github:edit-key keyId="1" title="new title" />
    </flow>

    <flow name="deleteKey">
        <github:delete-key id="1"/>
    </flow>

    <flow name="getTeam">
        <github:get-team id="#[map-payload:teamId]"/>
    </flow>

    <flow name="getTeamsForOrg">
        <github:get-teams-for-org organization="mule-github-api-test"/>
    </flow>

    <flow name="createTeam">
        <github:create-team organization="mule-github-api-test" teamName="github-connector-team" config-ref=""/>
    </flow>

    <flow name="editTeam">
        <github:edit-team id="#[map-payload:teamId]" teamName="new-team-name"/>
    </flow>

    <flow name="deleteTeam">
        <github:delete-team id="#[map-payload:teamId]"/>
    </flow>

    <flow name="getTeamMembers">
        <github:get-team-members id="#[map-payload:teamId]"/>
    </flow>

    <flow name="isTeamMember">
        <github:is-team-member id="#[map-payload:teamId]" user="federecio"/>
    </flow>

    <flow name="addTeamMember">
        <github:add-team-member id="#[map-payload:teamId]" user="federecio"/>
    </flow>

    <flow name="removeTeamMember">
        <github:remove-team-member id="#[map-payload:teamId]" user="federecio"/>
    </flow>

    <flow name="getTeamRepositories">
        <github:get-team-repositories id="#[map-payload:teamId]"/>
    </flow>

    <flow name="addTeamRepository">
        <github:add-team-repository id="#[map-payload:teamId]" owner="mule-github-api-test" repositoryName="github-connector"/>
    </flow>

    <flow name="removeTeamRepository">
        <github:remove-team-repository id="#[map-payload:teamId]" owner="mule-github-api-test" repositoryName="github-connector"/>
    </flow>

    <flow name="getRepositories">
        <github:get-repositories/>
    </flow>

    <flow name="getRepositoriesForUser">
        <github:get-repositories-for-user user="federecio"/>
    </flow>

    <flow name="getOrgRepositories">
        <github:get-org-repositories organization="mulesoft"/>
    </flow>

    <flow name="createRepository">
        <github:create-repository repositoryName="cool-repo" description="this is a cool repo" hasIssues="true"/>
    </flow>

    <flow name="createRepositoryForOrg">
        <github:create-repository-for-org organization="some org" repositoryName="cool-repo" description="this is a cool repo"
                                          hasIssues="true"/>
    </flow>

    <flow name="getRepository">
        <github:get-repository owner="mulesoft" repositoryName="github-connector"/>
    </flow>

    <flow name="editRepository">
        <github:edit-repository owner="mulesoft" repositoryName="github-connector" hasWiki="false"/>
    </flow>

    <flow name="getForks">
        <github:get-forks owner="mulesoft" repositoryName="github-connector"/>
    </flow>

    <flow name="forkRepository">
        <github:fork-repository owner="mulesoft" repositoryName="github-connector"/>
    </flow>

    <flow name="forkRepositoryForOrg">
        <github:fork-repository-for-org organization="mule-github-api-test" owner="mulesoft" repositoryName="github-connector"/>
    </flow>

    <flow name="getReadme">
        <github:get-contents owner="mule-tester" repositoryName="github-connector" path="/README.md" branch="test-branch"/>
    </flow>

    <flow name="updateReadme">
        <github:put-contents owner="mule-tester" repositoryName="github-connector" path="/README.md" commitMessage="test commit" content="updated file content" sha="#[map-payload:sha]" branch="test-branch"/>
    </flow>

    <flow name="getLanguages">
        <github:get-languages owner="mulesoft" repositoryName="github-connector"/>
    </flow>

    <flow name="getBranches">
        <github:get-branches owner="mulesoft" repositoryName="github-connector"/>
    </flow>

    <flow name="getTags">
        <github:get-tags owner="mulesoft" repositoryName="github-connector"/>
    </flow>

    <flow name="getContributors">
        <github:get-contributors owner="mulesoft" repositoryName="github-connector"/>
    </flow>
    
    <flow name="listDownloadsForRepository">
        <github:list-downloads-for-repository owner="mulesoft" repositoryName="github-connector" />
    </flow>

    <flow name="getDownload">
        <github:get-download owner="mulesoft" repositoryName="github-connector" id="1"/>
    </flow>

    <flow name="deleteDownload">
        <github:delete-download owner="mulesoft" repositoryName="github-connector" id="1"/>
    </flow>

    <flow name="createResource">
        <github:create-resource owner="mulesoft" repositoryName="github-connector" resourceName="resource name" size="1000"/>
    </flow>

    <flow name="uploadResource">
    	<github:upload-resource content-ref="foo bar">
     		<github:download-resource ref="downloadResourceObj" />
    	</github:upload-resource>
    </flow>
    
    <flow name="getTreeRecursively">
		<github:get-tree-recursively owner="mulesoft" repositoryName="github-connector" sha="8f7e98b8191285483e07f50b64a69c9bba341c5b" />
    </flow>

    <flow name="getPullRequest">
        <github:get-pull-request owner="mule-tester" repositoryName="github-connector" id="#[map-payload:id]"/>
    </flow>

    <flow name="getPullRequests">
        <github:get-pull-requests owner="mule-tester" repositoryName="github-connector" state="open"/>
    </flow>

    <flow name="pagePullRequests">
        <github:page-pull-requests owner="mule-tester" repositoryName="github-connector" state="open"/>
    </flow>

    <flow name="createPullRequest">
        <github:create-pull-request owner="mule-tester" repositoryName="github-connector" body="pull request body" title="pull request title" head="#[map-payload:head]" base="#[map-payload:base]"/>
    </flow>

    <flow name="createPullRequestFromIssue">
        <github:create-pull-request-from-issue owner="mule-tester" repositoryName="github-connector" issueId="1" head="#[map-payload:head]" base="#[map-payload:base]"/>
    </flow>

    <flow name="editPullRequest">
        <github:edit-pull-request owner="mule-tester" repositoryName="github-connector" id="#[map-payload:id]" title="updated test pull request title"/>
    </flow>

    <flow name="getPullRequestCommits">
        <github:get-pull-request-commits owner="mule-tester" repositoryName="github-connector" id="#[map-payload:id]" />
    </flow>

    <flow name="getPullRequestFiles">
        <github:get-pull-request-files owner="mule-tester" repositoryName="github-connector" id="#[map-payload:id]" />
    </flow>

    <flow name="isPullRequestMerged">
        <github:is-pull-request-merged owner="mule-tester" repositoryName="github-connector" id="#[map-payload:id]" />
    </flow>

    <flow name="mergePullRequest">
        <github:merge-pull-request owner="mule-tester" repositoryName="github-connector" id="#[map-payload:id]" commitMessage="message" />
    </flow>

    <flow name="createPullRequestComment">
        <github:create-pull-request-comment owner="mule-tester" repositoryName="github-connector" pullRequestId="#[map-payload:pullRequestId]" commitId="#[map-payload:commitId]"
                body="test comment body" path="README.md" position="10" line="1" />
    </flow>

    <flow name="replyToPullRequestComment">
        <github:reply-to-pull-request-comment owner="mule-tester" repositoryName="github-connector" pullRequestId="#[map-payload:pullRequestId]"
                                           commentId="#[map-payload:commentId]" body="test reply" />
    </flow>

    <flow name="editPullRequestComment">
        <github:edit-pull-request-comment owner="mule-tester" repositoryName="github-connector" commentId="#[map-payload:commentId]" body="updated test comment body" />
    </flow>

    <flow name="deletePullRequestComment">
        <github:delete-pull-request-comment owner="mule-tester" repositoryName="github-connector" commentId="#[map-payload:commentId]"/>
    </flow>

    <flow name="getPullRequestComment">
        <github:get-pull-request-comment owner="mule-tester" repositoryName="github-connector" commentId="#[map-payload:commentId]"/>
    </flow>

    <flow name="getPullRequestComments">
        <github:get-pull-request-comments owner="mule-tester" repositoryName="github-connector" id="#[map-payload:id]"/>
    </flow>

    <flow name="pagePullRequestComments">
        <github:page-pull-request-comments owner="mule-tester" repositoryName="github-connector" id="#[map-payload:id]"/>
    </flow>


</mule>
